*{
	box-sizing: border-box;
	margin:0 0;
}
body{
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	height: 100%;
	
}
body::-webkit-scrollbar {
	height: 11px;
	width: 6px;
	}

body::-webkit-scrollbar {
	height: 4px;
	width: 4px;
	}
	body::-webkit-scrollbar-thumb {
	background:#01B8BD;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
body::-webkit-scrollbar-corner {
	background:#035659;
}


.spacer-top{
	/* height:25%;
	min-height:10px; */
   height: 20%;
   min-height: 2em;
}

.margin-7 {
	margin: 0 7% 0 7%;
}

.header{
   width: 100%;
   height: 7em;
   background-color: aliceblue;
   background-image: url(./img/logo.jpeg);
   background-size: 13%;
   background-repeat: no-repeat;

   

}
.header img{
   width: 15%;
}
.header h1{
   text-align: center;
   vertical-align: middle;
   padding: 1.5em 0;
   color: indianred;
   letter-spacing: 0.3em;
}
p{
   font-size: 1.1em;
}
.percorso{
   font-size: 1.1em;
	width: 100%;
  padding-top: 2em;
	height: 3em;
	display: flex;
	align-items: center;
	color: rgb(104, 5, 5);
}
/* .menu{
   width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	vertical-align: middle;
	background-color: #94080b;
} */
.links {
	width: 100%;
}
.links li {
	list-style: none;
}
.notlink{
	background-color:#A92322;
	color: white;

	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	
}
.links a {
	
	color: white;
	letter-spacing: 3px;
	font-weight: bold;

}
.links li:hover{
	background-color: #A92322;
} 
.links a:visited{
	color:rgb(97, 178, 245);
}

.background{
   background-image: url(./img/background1.jpg);
   background-size: 22%;
}
.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
}
.container-presentazione{
   display: flex;
   justify-content: space-evenly;
   margin: 2em 0;
   width: 100%;
}
.container-presentazione img{
      width: 12em;
      height: 9em;
      border-radius: 5%;
      -webkit-border-radius: 5%;
      -moz-border-radius: 5%;
      -ms-border-radius: 5%;
      -o-border-radius: 5%;
}

.container p{
   padding: 1em;
}

.menu{
   display: flex;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}

.links2{
   padding: 1em;
   display: flex;
   flex-direction: column;
   text-align: center;
}
.links2:hover{
   background-color: darkgray;
   border-radius: 5%;
   -webkit-border-radius: 5%;
   -moz-border-radius: 5%;
   -ms-border-radius: 5%;
   -o-border-radius: 5%;
}
.links2 a p{
   padding: 0.3em;
}
.links2 a img{
   width: 10em;
   height: 7em;
   border-radius: 5%;
   -webkit-border-radius: 5%;
   -moz-border-radius: 5%;
   -ms-border-radius: 5%;
   -o-border-radius: 5%;
}




#footer {
	width: 100%;
	/* margin-top: 3rem; */
	background-color:#01B8BD; 
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: black;
	padding: 1em 0;
	clear: both;
}
/* ============================ */
/* ============MOBILE========== */
/* ============================ */

@media screen and (min-width:300px){
   .links {
      display: grid;
      grid-template-columns: auto auto ;
      padding: 0;
   
   }
   .links li{
      padding: 0.4em;
      font-size: 1.3em;
      text-align: center;
   }
   .notlink li{
      padding: 0.5em 1.5em 0.2em 1.5em;
      color: white;
      text-decoration: underline;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 1.1em;
   }
}
/* ============================ */
/* ============TABLET========== */
/* ============================ */
@media screen and (min-width:600px){

}

/* ============================ */
/* ============DESKTOP========== */
/* ============================ */
@media screen and (min-width:900px){
   .links{
		grid-template-columns: auto auto auto auto auto;
	}


}


