@font-face {
   font-family: Balonku;
   src: url(./font/BalonkuRegular-la1w.otf);
}
*{
	box-sizing: border-box;
	margin:0 0;
}
html {
   height: 100%;
}
body{
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	height: 100%;
	
}
body::-webkit-scrollbar {
	height: 5px;
   width: 5px;
}
/* body::-webkit-scrollbar {
	height: 4px;
	width: 4px;
	} */
	body::-webkit-scrollbar-thumb {
	background:#01B8BD;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
   box-shadow: inset 0px 0px #01B8BD;
}
body::-webkit-scrollbar-corner {
	background:#035659;
}
body::-webkit-scrollbar-track{
   background: #fff;
   border: 0;
   /* box-shadow: inset 7px 10px 12px ; */
}
::-webkit-progress-bar{
   width: 0;
}

.spacer-top{
	/* height:25%;
	min-height:10px; */
   height: 20%;
   min-height: 2em;
} 
.welcome{ 
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   align-items: center;
   margin-bottom: 1em;
}
.welcome h3{
   font-size: 1.3em
}
.welcome p{
  width: 80%;
}
.padding-2{
   padding: 2em 0;
}

.margin-7 {
	margin: 0 7% 0 7%;
}
.padding-05{
	padding: 0.5em;
}

.header{
   width: 100%;
   background-color: antiquewhite;
   display: flex;
   align-items: center;
}
.align{
   display: flex;
   justify-content: center;
   align-items: cennter;
}
p{
   font-size: 1.1em;
}
#percorso{
   position: absolute;
   left: -9999px;
   /* font-size: 1.1em;
	width: 100%;
   padding: 2em 0;
	height: 3em;
	display: flex;
   flex-direction: row;
	align-items: center;
	color: rgb(104, 5, 5); */
}

/* .menu{
   width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	vertical-align: middle;
	background-color: #94080b;
} */
.links {
	width: 100%;
}
.links li {
	list-style: none;
}
.notlink{
	background-color:#A92322;
	color: white;

	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	
}
.links a {
	
	color: white;
	letter-spacing: 3px;
	font-weight: bold;

}
.links li:hover{
	background-color: #A92322;
} 
.links a:visited{
	color:rgb(97, 178, 245);
}

.background{
   background-image: url(./img/background1.jpg);
   background-size: 22%;
   min-height: 80vh;
}
.container{
   height: 100%;
   min-height: 35em; /*da togliere qunado si riepirà per bene la pagina*/
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background-color: white;
}
.container-presentazione{
   display: flex;
   justify-content: space-evenly;
   margin: 2em 0;
   width: 100%;
}
.container-presentazione img{
      width: 12em;
      height: 9em;
      border-radius: 5%;
      -webkit-border-radius: 5%;
      -moz-border-radius: 5%;
      -ms-border-radius: 5%;
      -o-border-radius: 5%;
}

.title {
	width: 100%;
	display: flex;
	vertical-align: middle;
	align-items: center;

}

.title h1{
	font-weight: bold;
   font-size: 2.6em;
	display: inline-block;
	margin-left: 0.5em;
}

.title h2 {
   font-weight: 700;
   font-size: 1.7em;
	display: inline-block;
	margin-left: 0.5em;
}

.container p{
   padding: 1em;
}

.menu{
   display: grid;
   width: 100%;
   /* display: flex; */
   justify-content: space-evenly;
}

.links2{
   
   display: flex;
   flex-direction: column;
   text-align: center;
}
.not-link{
   display: flex;
   flex-direction: column;
   text-align: center;
}
.not-link img{
   width: 10em;
   height: 7em;
   opacity: 0.5;
   border-radius: 5%;
   -webkit-border-radius: 5%;
   -moz-border-radius: 5%;
   -ms-border-radius: 5%;
   -o-border-radius: 5%;
}
.links2:hover{
   transition: 0.4s ease-in;
   background-color: darkgray;
   border-radius: 5%;
   -webkit-border-radius: 5%;
   -moz-border-radius: 5%;
   -ms-border-radius: 5%;
   -o-border-radius: 5%;
   -webkit-transition: 0.4s ease-in;
   -moz-transition: 0.4s ease-in;
   -ms-transition: 0.4s ease-in;
   -o-transition: 0.4s ease-in;
}
.links2 a p{
   padding: 0.3em;
}
.not-link p{
   padding: 0.3em;
}
.links2 a img{
   width: 10em;
   height: 7em;
   border-radius: 5%;
   -webkit-border-radius: 5%;
   -moz-border-radius: 5%;
   -ms-border-radius: 5%;
   -o-border-radius: 5%;
}
.esempio{
   display: flex;
   justify-content: center;
   align-items: center;
}

.image-container{
   /* display: flex;
   justify-content: space-evenly;
   vertical-align: middle;
   align-items: center;
   flex-wrap: wrap; */
   display: grid;
   width: 100%;
   justify-content: space-evenly;
}

.logo-home{
   width: 30%;
}

/* ======================== */
/* ==========LOGIN========= */
/* ======================== */
.title-amministration{
	display: flex;
	/* width: 30%; */
	margin-bottom: 1em;
}
.title-amministration img{
	width: auto;
    height: 40px;
}
.title-amministration label{
	font-size: 1.4em;
	font-weight: 700;
	/* display: inline-block; */
	margin-left: 10px;
	margin-right: 10px;
}
#container-login{
   width: 100%;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
}
#container-login strong{
   font-size: 1.5em;
   margin: 1em 0;
}
.container form{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
fieldset{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: none;
   margin: 0 0 0.5em 0;
}
input[type=text], input[type=password] {
	width: 100%;
	min-width: 13em;
	font-family: sans-serif;
	padding: 12px 20px;
	/* margin: 0.8em 0; */
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1.2em;
}
.conferma{
   font-size: 1.2em;
}
/* ======================== */
/* ===========CARD========= */
/* ======================== */
.card-container{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 1em;
   
   /* margin: 1em 0; */
	/* display: grid; */
   /* grid-template-columns: auto auto  auto; */
}












/* .card:hover h3{
   color: #A92322;
} */
.TornaSu{
   left: -9999px;
}
#TornaSu {
	background-color: rgba(198, 88, 82, 0.6);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: fixed;
	bottom: 3%;
	right: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: white; 
	line-height: 1.5rem;
	cursor: pointer;
}

/* FOOTER */
footer {
	width: 100%;
   min-height: 12vh;
	/* margin-top: 3rem; */
	/*background-color:#01B8BD;*/
   background-color: #c19a6b; 
	display: flex;
	align-items: center;
   text-align: center;
	justify-content: space-between;
	color: black;
	padding: 1em 0;
   line-height: 1.5em;
}
footer a {
   color: black;
}


/* PAGINA LETTURA */
.content{
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 2px solid rgb(148, 148, 148);
	padding: 1.5em;
	border-radius: 13px;
	/* background-color: blanchedalmond; */
   background-color: white;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-ms-border-radius: 13px;
	-o-border-radius: 13px;
}
#title{
	display: flex;
	flex-direction: column;
}
#image{
	width: 100%;
    height: 20em;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    margin: 4% 0%;
    align-items: center;
}
#image img{
	width: 86%;
	max-width: 500px;
}
#ingredienti{
   padding: 1em;
}
#ingredienti h2{
   color: blue;
   padding-bottom: 1em;
}
#ricetta h2{
   color: blue;
   padding: 1em 0;
}
.text{
	font-size: 1.3em;
}
.nuova-ricetta{
   width: 100%;
   display: flex;
justify-content: center;
}
.nuova-ricetta a{
   text-decoration: none;
   color: white;
   background-color: lightcoral;
   padding: 0.5em 1.5em;
   margin: 1em 0;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}
/* .chef{
   display: flex;

} */
.chef h2, .chef h3{
   display: flex;
   /* align-items: center; */
   justify-content: center;
   color:darksalmon;
}

.foto-martina{
   display: flex;
   justify-content: center;

}
.foto-martina img{
   width: 40%;
   border-radius: 10px;
   margin: 1em 0;
   min-width: 300px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}


.contatti-container{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.contatti-container a {
   color: #a20000;
}
/* fare class absolute */
/* ============================ */
/* ============MOBILE========== */
/* ============================ */

@media screen and (min-width:300px){
   /* .links {
      display: grid;
      grid-template-columns: auto auto ;
      padding: 0;
   
   }
   .links li{
      padding: 0.4em;
      font-size: 1.3em;
      text-align: center;
   }
   .notlink li{
      padding: 0.5em 1.5em 0.2em 1.5em;
      color: white;
      text-decoration: underline;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 1.1em;
   } */
   .header{
      justify-content: center;
   }
   .header h1{
      display: none;
   }
   .header img{
      width: 40%;
   }
   .title img{
      width: 15%;
      margin-left: 2%;
   }
   #search{
      width: 100%;
   }
   .textbutton{
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   input[type="submit"]{
      margin-top: 1em;
   }
   .menu{
      /* grid-template-columns: auto auto auto; */
      background-color: blanchedalmond;
      flex-wrap: wrap;
      grid-template-columns: auto auto;
   }
   /* .menu{
      
   } */
   .not-link{
      min-width: 150px;
   }
   .not-link p{
      font-size: 1.3em;
      font-weight: bold;
      padding: 0.5em;
      letter-spacing: 0.1em;
   }
   .links2{
      min-width: 150px;
   }
   .links2 a p{
      font-size: 1.3em;
      font-weight: bold;
      padding: 0.5em;
      letter-spacing: 0.1em;
   }
   .links2 a img , .not-link img{
      display: none;
   }
   .welcome h2{
     width: 80%;
   }
   .logo-home{
      display: none;
   }
   .image-container{
      /* flex-direction: column; */
      grid-template-columns: auto;
   }
   .esempio img{
      width: 70%;
      margin: 0.5em;
      border-radius: 5%;
      -webkit-border-radius: 5%;
      -moz-border-radius: 5%;
      -ms-border-radius: 5%;
      -o-border-radius: 5%;
   }
    .card-container{
      grid-template-columns: auto;
      justify-content: center;
   }
   
   .card {
      width: 17em;
      min-width: 230px;
      margin-bottom: 2rem;
      height: 100%;
      border: 2px solid #ccc;
      border-radius: 10px;
      background-color: white;
      overflow: hidden;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
   }
   
   .card a{
      text-decoration: none;
      color: black;
   }
   .card-info-container{
      display: flex;
      flex-direction: column;
   }
   .card-title {
      border-radius: 10% 10% 0 0;
      padding: 0.7rem;
      height: 2.5em;
      width: 100%;
      display: flex;
      align-items: center;
      vertical-align: middle;
      -webkit-border-radius: 10% 10% 0 0;
      -moz-border-radius: 10% 10% 0 0;
      -ms-border-radius: 10% 10% 0 0;
      -o-border-radius: 10% 10% 0 0;
}
   .card-title h3{
      font-size: 1.2em;
      margin-left: 0.2em;
   }
   .card-title a:hover {
      color: #009b9f;
   }
   .card-img {
      width: 100%;
      height: 12em;
      overflow: hidden;
   }
   .card img {
      width: 100%;
      max-height: 250px;
      /* object-fit: cover; */
   }
   .card-info p{
      padding: 0;
      margin:0 0.6em 1em 0.6em;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
   }
   .card-info{
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .card-footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   .info{
      padding: 0.3em;
      margin-left: 0.5em;
      font-weight: bold;
   }

      
   .info p{
      padding: 0;
   }
   .tempo{
      display: flex;
      align-items: center;
      margin-right: 1em;
      font-weight: bold;
   }
   .tempo p{
      padding:0 0 0 0.2em;
   }
   /* .info{
      display: flex;
      justify-content: space-between;
      text-align: end;
      padding: 1em;
   }
   .info p{
      padding: 0;
   }
   .tempo{
      display: flex;
      align-items: center;
   }
   .tempo p{
      padding:0 0 0 0.2em;
   }  */
   /* .contatti{
      width: 50%;
   } */
   .option-admin{
      display: flex;
      justify-content: space-evenly;
      margin: 0.3em 0;
   }
   button, input[type="submit"]{
    background-color: lightcoral;
    /* padding: 0.5em 1.5em; */
    color: white;
    height: 3em;
    width: 10em;
    border: 1px solid lightcoral;
    cursor:pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}  
   button:hover, input[type="submit"]:hover{
      box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   }
   .contatti-container article{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      margin: 2em 0;
   }
   .contatti-container article img{
      width: 20%;
      height: 20%;
      max-width: 150px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
}
   .contatti h2{
      padding:0 1em;
   }
   .contatti p{
      padding: 1em 0 0.5em 0;
   }
   .contatti a{
      padding: 1em;
   }

   footer{
      flex-direction: column;
   }
}
/* ============================ */
/* ============TABLET========== */
/* ============================ */
@media screen and (min-width:600px){
   .header{
      justify-content: space-between;
   }
   .header img{
      width: 12%;
      
   }
   .header h1{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0;
      color: #a20000;
      letter-spacing: 0.3em;
      font-family: Balonku;
      font-weight: bold;
      font-size: 5vw;
   }

   .textbutton{
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }
   .textbutton input[type="submit"]{
      margin-left: 1em;
      margin-top: 0;
   }
   .menu{
      background-color: white;
   }
   .title{
      margin: 0.5em 0 0.5em 3em;
   }
   .title img{
      width: 5%;
   }
   .not-link{
      padding: 0.1em;
   }
   
   .links2{
      padding: 0.1em;
   }
   .links2 a img, .not-link img{
      display: flex;
   }
   .links2 a p , .not-link p{
      letter-spacing: 0.1em;
      font-family: Balonku;
      font-size: 1.8vw;
   }
   
   .logo-home{
      display: inline;
   }
   .image-container{
      /* flex-direction: row; */
      grid-template-columns: auto auto;
      
   }
  
   .esempio img{
      margin: 0.8em;
      width: 18em;
      height: 13em;
     
   }
  
   .card-container{
      flex-direction: column;
      /* flex-wrap: wrap; */
      justify-content: space-evenly;
   }

   .card{
      display: flex;
      width: 80%;
      height: 100%;
      border: 2px solid #ccc;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
   }
   
   .card:hover a h3,
   .card:hover a .info,
   .card:hover a .tempo{
      color:indianred;
   }
   
   .card a{
      display: flex;
      text-decoration: none;
      color: black;
   }
   .card-img{
      display: flex;
      width: 30%;
      max-width: 200px;
   }
   .card img{
      /* width: 40%; */
      /* min-width: 240px; */
      /* max-width: 250px; */
      border-radius: 10px 0 0 10px;
      -webkit-border-radius: 10px 0 0 10px;
      -moz-border-radius: 10px 0 0 10px;
      -ms-border-radius: 10px 0 0 10px;
      -o-border-radius: 10px 0 0 10px;
   }
   .card-info-container{
      width: 70%;
      display: flex;
      flex-direction: column;
   }
   .card-title{
      margin-top: 1em;
      display: flex;
      align-items: center;
   }
   .card-title h3{
      font-size: 1.5em;
      margin-left: 1em;
   }
   .card-footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      bottom: 1em;
   }
   
   .tempo{
      margin-right: 1em;
   }
   .option-admin{
      flex-direction: column;
   }
   button{
      margin: 0 0.5em 0 0;
   }
   .contatti-container article{
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin: 3em 0;
   }
   .contatti-container article img{
      width: 20%;
      height: 20%;
      border-radius: 50%;
      margin: 0 3em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
}
   .contatti h2{
      padding: 0.5em;
      font-size: 1.7em;
   }
   .contatti p{
      font-size: 1.3em;
   }
   .contatti a{
      font-size: 1.3em;
   }

   footer{
      flex-direction: row;
   }
   .absolute{
      position: absolute;
      bottom: 0;
   }
  
}

/* ============================ */
/* ============DESKTOP========== */
/* ============================ */
@media screen and (min-width:900px){
   .menu{
      grid-template-columns: auto auto auto auto;
   }
   .not-link{
      padding: 1em 0.5em;
   }
   .links2{
      padding: 1em 0.5em;
	}
   
   /* .header h1{
      margin-right: 30%;
   } */

   
   /* .card-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   } */
   
   .image-container{
      grid-template-columns: auto auto auto;
   }
   
   .card img{
      max-width: none;
   }


   
}


